/* Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 #include <zephyr/dt-bindings/lora/sx126x.h>

//&temp {
//    status = "okay";
//};

/ {
	/*
	* In some default configurations within the nRF Connect SDK,
	* e.g. on nRF52840, the chosen zephyr,entropy node is &cryptocell.
	* This devicetree overlay ensures that default is overridden wherever it
	* is set, as this application uses the RNG node for entropy exclusively.
	*/
//	chosen {
//		zephyr,entropy = &rng;
//	};

	chosen {
		zephyr,shell-uart = &cdc_acm_uart;
	};

	aliases {
		lora0 = &lora;
		i2c2 = &i2c2;
	};

	zephyr,user {

		// GNSS
		gnss_vbckp_on-gpios = <&gpio0 5 0>;
		gnss_vcc_on-gpios = <&gpio1 0 0>;
		gnss_reset-gpios = <&gpio1 6 0>;

		// ADC
		flex_enable-gpios = <&gpio1 5 0>;
		io-channels = <&adc 0>;

		// GPIO
		flex_detect-gpios = <&gpio0 7 0>;
	};

	rtc-emul {
		compatible = "zephyr,rtc-emul";
		status = "okay";
		alarms-count = < 0 >;
	};
};

&pinctrl {

	// GNSS is on UART0
	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 25)>;
					// <NRF_PSEL(UART_RTS, 0, 19)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 24)>;
					// <NRF_PSEL(UART_CTS, 0, 21)>;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 25)>,
					<NRF_PSEL(UART_RX, 0, 24)>;
					// <NRF_PSEL(UART_RTS, 0, 19)>,
					// <NRF_PSEL(UART_CTS, 0, 21)>;
			low-power-enable;
		};
	};

	// LoRa is on SPI1

	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
					<NRF_PSEL(SPIM_MOSI, 0, 22)>,
					<NRF_PSEL(SPIM_MISO, 0, 23)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
					<NRF_PSEL(SPIM_MOSI, 0, 22)>,
					<NRF_PSEL(SPIM_MISO, 0, 23)>;
			low-power-enable;
		};
	};

	// UWB is on SPI4

	spi4_default: spi4_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
					<NRF_PSEL(SPIM_MOSI, 0, 9)>,
					<NRF_PSEL(SPIM_MISO, 0, 10)>;
		};
	};

	spi4_sleep: spi4_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
					<NRF_PSEL(SPIM_MOSI, 0, 9)>,
					<NRF_PSEL(SPIM_MISO, 0, 10)>;
			low-power-enable;
		};
	};

	// NOTE: Need to add in interrupts

	// LED I2C bus
	i2c2_rgb_default: i2c2_rgb_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
				<NRF_PSEL(TWIM_SCL, 0, 28)>;
		};
	};

	i2c2_rgb_sleep: i2c2_rgb_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 29)>,
				<NRF_PSEL(TWIM_SCL, 0, 28)>;
			low-power-enable;
		};
	};

	// ACCELEROMETER is on I2C2

	i2c2_acc_default: i2c2_acc_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 30)>,
				<NRF_PSEL(TWIM_SCL, 0, 31)>;
		};
	};

	i2c2_acc_sleep: i2c2_acc_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 30)>,
				<NRF_PSEL(TWIM_SCL, 0, 31)>;
			low-power-enable;
		};
	};

};

// NOTE: We need to disable components we aren't using as they share resources

// USB UART

&zephyr_udc0 {
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};

// GPS

&uart0 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};	

&uart1 {
	status = "disabled";
};

&uart2 {
	status = "disabled";
};
	
// NOTE: We need to disable components we aren't using as they share resources

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

// Support for accelerometer

/*

&i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c2_acc_default>;
	pinctrl-1 = <&i2c2_acc_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;	

//	lsm6dso16is: lsm6dso16is@6a {
//		compatible = "st,lsm6dso16is";
//		status = "okay";
//		reg = <0x6a>;
////		irq-gpios = <&gpiof 3 GPIO_ACTIVE_HIGH>;
//	};
};

*/

// RGB LED

&i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c2_rgb_default>;
	pinctrl-1 = <&i2c2_rgb_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;	
};

// We need to disable components we aren't using as they share resources

&spi0 {
	status = "disabled";
};

// LORA

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	lora: lora@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		reset-gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
//		tx-enable-gpios = <&gpio0 25 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
//		rx-enable-gpios = <&gpio0 24 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		dio1-gpios = <&gpio0 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH) >;
        antenna-enable-gpios = <&gpio1 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		spi-max-frequency = <8000000>;
	};
};

&spi2 {
	status = "disabled";
};

&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
};

&gpio_fwd {
	uart {
		gpios = <&gpio0 11 0>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_3";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 for nRF52xx, P0.04 for nRF5340 */
		zephyr,resolution = <12>;
	};
};
